.productInfo {
    display  : flex;
    height   : 25px;
    font-size: 0.7em;
}

.productInfoLeft {
    display: flex;
    flex   : 50%;
}

.productInfoRight {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex           : 50%;
}

.removeFromcartButton {
    cursor: pointer;
}