.navbar {
    height          : 60px;
    width           : 100vw;
    background-color: rgb(100, 100, 100);
    display         : flex;
}

.toolbar {
    height     : 100%;
    width      : 100%;
    display    : flex;
    align-items: center;
}

.navRight {
    display    : flex;
    flex       : 20%;
    align-items: center;
}

.navMiddle {
    display        : flex;
    flex           : 60%;
    justify-content: center;
}

.navLeft {
    display    : flex;
    align-items: center;
    flex       : 20%;
}

.navRightRight {
    display        : flex;
    justify-content: center;
    width          : 100%;
}