.walls {
    height : 100vh;
    width  : 100vw;
    display: flex;
}



.imageContainer {
    flex           : 50%;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.productImage {
    height: 100px;
    width : 90%;
}

.buttonsAndInfo {
    flex           : 50%;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    margin         : 1%;
}

.productInfoH1 {
    height   : 50px;
    width    : 100%;
    font-size: 1rem;
}

.productInfoH2 {
    height   : 30px;
    width    : 100%;
    font-size: 0.7rem;
}

.productInfoH3 {
    height   : 90px;
    width    : 100%;
    font-size: 0.5rem;
}

.productInfoH4 {
    height         : 10px;
    width          : 100%;
    display        : flex;
    justify-content: flex-start;
    font-size      : 0.7rem;
}

.addToCart {
    font-size  : 1.3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media (max-width: 425px) {
    .productImage {
        height: 120px;
    }
}